extends ../base.layout.pug

block content
  main.index-page
    include ../blocks/index-page/header
    include ../blocks/index-page/about
    include ../blocks/index-page/video
    include ../blocks/index-page/advantages
    include ../blocks/index-page/team
    include ../blocks/index-page/works
    include ../blocks/index-page/testimonials
    include ../blocks/index-page/contact
    include ../blocks/index-page/footer
    include ../blocks/index-page/map