include ./utils/mixins
doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    block title
    link(rel="stylesheet" href="/assets/css/main.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css")
  body
    block content
    script(src="assets/js/main.min.js")
    block scripts

      .visually-hidden
        include ../svg_sprite/symbol/sprite.svg