.section-about {
  width: 100%;
  padding-bottom: 70px;
  padding-top: 70px;

}

.section-about__wrapper {
  display: flex;
  width: 873px;
  margin: auto;
}

// .section-about__about {
//   display: flex;
//   flex-direction: column;
// }


.section-about__title {
  margin: 0;
  margin: auto;
  text-align: center;
  color: #413d4b;
}

.about__text {
  max-width: 538px;
  margin-top: 28px;
  color: #413d4b;
}

.about__btn {
  margin-top: 30px;
  padding: 15px;
}

.section-about__img {
  order: -1;
  margin-right: 100px;
  align-items: center;
}

@media(max-width: 1140px){
  .section-about__wrapper {
    width: auto;
  }
}

@media(max-width: 900px) {
  .section-about__wrapper {
    width: 100%;
  }

  .about__img{
    padding-left: 10px;
  }

  .about__btn {
    width: 100%;
  }

  .section-about__img {
    padding-left: 10px;
  }
}

@media(max-width: 500px) {

}