.section-contact {
  width: 100%;
}

.section-contact__wrapper {
  width: 940px;
  margin: auto;
  display: flex;
}

.section-contact__form {
  display: flex;
  flex-direction: column;
}

.clients__link {
  font-size: 0;
}