.section-footer {
  display: flex;
  flex-direction: column;
  background-image:
  linear-gradient(to right, rgba(#09052f, .8),
  rgba(#311d5e, .8)),
  url("/assets/images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto';
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-footer__wrapper {
  width: 940px;
  margin: auto;
}

.section-footer__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.section-footer__logo{
  width: 33%;
  margin-right: 36px;
}

.section-footer__contacts {
  width: 33%;
  margin-right: 36px;
}

.section-footer__socials {
  width: 33%;
}

.logo__text, .contacts__address, .contacts__phone {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  color: #f4f4f6;
}

.contacts__title, .socials__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts__address {
  position: relative;
  width: 237px;
  margin-left: 36px;
}

.contacts__address::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 5px;
  display: block;
  width: 14px;
  height: 19px;
  background-image: url('/assets/images/mark.png');
  background-repeat: no-repeat;
}

.contacts__phone {
  margin-left: 36px;
  position: relative;
}

.contacts__phone::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 5px;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url('/assets/images/phone.png');
  background-repeat: no-repeat;
}

.socials__form {
  display: flex;
}

.socials__input {
  border: 1px solid #675d83;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 26px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.socials__input::placeholder {
  color: #bdb8c9;
}

.socials__btn {
  width: 70px;
  margin-left: 10px;
  font-size: 0;
  background-image: url('/assets/images/paper.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.5;
}

.socials__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 37px;
  list-style: none;
  text-decoration: none;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 35px;
  height: 35px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  transition: border-color .3s;
}

.socials__item:hover {
  border: 1px solid #00e0d0;
  border-radius: 50%;
}


.section-footer__bottom {
  display: flex;
  justify-content: space-between;
}

.section-footer__info {
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: -33px;
}

.bottom__item {
  margin-right: 33px;
}

.bottom__link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  transition: border-color .3s;
}

.bottom__link:hover {
  color: #00e0d0;
}
