.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 70px;
  background-image:
  linear-gradient(to right, rgba(#09052f, .8),
  rgba(#311d5e, .8)),
  url("/assets/images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.section-header__navbar {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  margin-top: 15px;
}

.logo__img {
  width: 128px;
  height: 50px;
}

.section-header__burger {
  background-color: transparent;
  border: none;
  position: relative;
  font-size: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  margin-right: -24px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  letter-spacing: 0.33px;
}

.nav__item {
  margin-right: 24px;
}

.nav__link {
  text-decoration: none;
  color: white;
  transition: border-color .3s;
}

.nav__link:hover {
  color: #00e0d0;
}

.section-header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 940px;
  margin: auto;
  margin-top: 173px;
}

.main__title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.main__text {
  max-width: 90%;
  text-align: center;
  margin-top: 52px;
}

.main__text::before {
  content: '';
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
}

.main__btn {
  margin-top: 50px;
  padding: 15px;
}

.main__dotnav {
  padding: 0;
  margin: 0;
  margin-top: 127px;
}

.main__item {
  display: inline-block;
  margin-left: 5px;
  list-style: none;
  flex-grow: 0;
}

.dotnav__btn {
  padding: 0;
  width: 10px;
  height: 10px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0;
}

.dotnav__btn--active {
  background-color: #00e0d0;
  border: transparent;
}

@media(max-width: 1140px) {
  .section-header__navbar {
    width: auto;
  }

  .section-header__main {
    width: auto;
  }
}

@media(max-width: 900px) {
  .section-header {
    width: 100%;
    padding-bottom: 30px;
  }

  .section-header__navbar {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .section-header__logo {
    width: 50%;
    // padding-left: 10px;
    padding-top: 20px;
  }

  .section-header__burger {
    width: 40px;
    padding-left: 10px;
    justify-content: flex-end;
    cursor: pointer;
  }

  .section-header__burger::before, .section-header__burger::after {
    content: '';
    display: block;
  }

  .section-header__burger::before,
  .section-header__burger-text,
  .section-header__burger::after {
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: white;
    right: 0;
  }

  .section-header__burger::before {
    top: 25px;
  }

  .section-header__burger::after {
    bottom: 25px;
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    height: 0;
    overflow: hidden;
}

  .nav__list--active {
    height: auto;
  }

  .nav__item {
    margin-top: 10px;
  }

  .section-header__main {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main__dotnav {
    margin-top: 30px;
  }
}
