.section-testimonials {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image:
  linear-gradient(to right, rgba(#09052f, .8),
  rgba(#311d5e, .8)),
  url("/assets/images/testimonials.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.section-testimonials__wrapper {
  width: 770px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.section-testimonials__list {
  list-style: none;
  padding: 0;
}

.section-testimonials__list::before {
  content: '“';
  display: block;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 3px;
}

.testimonials__text {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.testimonials__credits {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.testimonials__job {
  margin-top: 5px;
  display: block;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: #7e7992;
}

.testimonials__userpic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

// .testimonials__userpic::after{
//   content: '';
//   display: inline-block;
//   border: solid #848485;
//   border-width: 0 3px 3px 0;
//   padding: 3px;
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
// }

.userpic__item {
  margin-right: 14px;
}