.section-works {
  width: 100%;
}

.section-works__wrapper {
  width: 100%;
}

.section-works__link {
  text-decoration: none;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.section-works__link::after {
  content: '';
  display: block;
  background-image: url('assets/images/arrow.png');
  width: 8px;
  height: 13px;
}