section.about
  .section-about__wrapper.wrapper
    h2.section-about__title Основной контент
    .section-about__about
      h3.about__about.title Our story
      svg(width="10px" height="10px").about__svg
      article.about__about-text
      |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
      br
      |Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      button.about__about-btn.btn Learn more

    .section-about__video
      h3.about__video-title.title Видео
      span.about__video-text Watch our story
      svg(width="10px" height="10px").about__video-svg