section.section-contact
  .section-contact__wrapper.wrapper
    form.section-contact__form.form
      h2.form__title.title Give us a good news
      input(type="text" id="name" placeholder="Name").form__input
      input(type="email" id="email" placeholder="Email").form__input
      input(type="text" id="subject" placeholder="Subject").form__input
      input(type="textarea" id="message" placeholder="Your message").form__input
      button.form__btn.btn Submit
    .section-contact__clients.clients
      h2.clients__title Our happy clients
      ul.clients__list
        li.clients__item
          a(href="#").clients__link Zara
            svg(width="162" height="22").clients__svg
              use(xlink:href="#Zara_Logo")
        li.clients__item
          a(href="#").clients__link Mango
            svg(width="138" height="22").clients__svg
              use(xlink:href="#Mango_Logo")
        li.clients__item
          a(href="#").clients__link Barneys Newyork
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Gucci
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Calvin Klein
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Nike
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Converse
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Puma
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Levi's
            svg(width="10" height="10").clients__svg
        li.clients__item
          a(href="#").clients__link Billa bong
            svg(width="10" height="10").clients__svg
