.section-expertise
  .section-expertise__wrapper.wrapper
    h2.section-expertise__title Expertise
    .section-expertise__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
    ul.expertise__list
      li.expertise__item
        p.expertise__subtitle Web design & development
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg
      li.expertise__item
        p.expertise__subtitle Branding identity
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg
      li.expertise__item
        p.expertise__subtitle Mobile app
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg
      li.expertise__item
        p.expertise__subtitle Search engine optimization
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg
      li.expertise__item
        p.expertise__subtitle Game development
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg
      li.expertise__item
        p.expertise__subtitle Made with love
        span.expertise__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        svg(with="20px" height="20px").expertise__svg