section.section-footer
  .section-footer__wrapper.wrapper
    h2.visually-hidden Footer
    ul.section-footer__items
      li.section-footer__logo.logo
        img(src="./assets/images/logo.png").logo__img
        p.logo__text
          |lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
      li.section-footer__contacts.contacts
        p.contacts__title Our studio
        p.contacts__address
          |Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
        p.contacts__phone
          |(+62) 21-2224 3333
      li.section-footer__socials.socials
        p.socials__title Stay in touch
        form.socials__form(action="")
          input(type="email" id="socials-email" placeholder="Subscribe our newsletter").socials__input
          button.socials__btn Submit
        ul.socials__links
          li.socials__item
            a(href="#").socials__link facebook
              img(src="/assets/images/fb.png").socials__img
          li.socials__item
            a(href="#").socials__link twitter
              img(src="/assets/images/twitter.png").socials__img
          li.socials__item
            a(href="#").socials__link dribbble
              img(src="/assets/images/dribbble.png").socials__img
          li.socials__item
            a(href="#").socials__link instagram
              img(src="/assets/images/insta.png").socials__img
          li.socials__item
            a(href="#").socials__link google+
              img(src="/assets/images/google.png").socials__img
          li.socials__item
            a(href="#").socials__link youtube
              img(src="/assets/images/youtube.png").socials__img
    .section-footer__bottom
      ul.section-footer__info.bottom
        li.bottom__item
          a.bottom__link(href="#") Help
        li.bottom__item
          a.bottom__link(href="#") Terms & conditions
        li.bottom__item
          a.bottom__link(href="#") Privacy
      p.section-footer__copyright Copyright © 2015 - Tajem Creative