section.section-header
  nav.section-header__navbar.wrapper
    h2.visually-hidden Хедер
    .section-header__logo.logo
      picture.logo__img
        img(src="./assets/images/logo.png")
    button.section-header__burger
      span.section-header__burger-text Развернуть
    ul.nav__list
      li.nav__item
        a(href="#").nav__link Home
      li.nav__item
        a(href="#").nav__link About
      li.nav__item
        a(href="#").nav__link Expertise
      li.nav__item
        a(href="#").nav__link Teams
      li.nav__item
        a(href="#").nav__link Works
      li.nav__item
        a(href="#").nav__link People say
      li.nav__item
        a(href="#").nav__link Contact
  .section-header__main.main
    ul.main__slider.slider
      li.slider__item
        h2.main__title.title We Are Awesome Creative Agency One
        p.main__text.text This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.main__btn.btn Learn more
      li.slider__item
        h2.main__title.title We Are Awesome Creative Agency Two
        p.main__text.text This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.main__btn.btn Learn more
      li.slider__item
        h2.main__title.title We Are Awesome Creative Agency Three
        p.main__text.text This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.main__btn.btn Learn more
      li.slider__item
        h2.main__title.title We Are Awesome Creative Agency Four
        p.main__text.text This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.main__btn.btn Learn more
      li.slider__item
        h2.main__title.title We Are Awesome Creative Agency Five
        p.main__text.text This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        button.main__btn.btn Learn more
    ul.main__dotnav
      li.main__item
        button.dotnav__btn 1
      li.main__item
        button.dotnav__btn 2
      li.main__item
        button.dotnav__btn 3
      li.main__item
        button.dotnav__btn 4
      li.main__item
        button.dotnav__btn 5
