.section-team
  .section-team__wrapper.wrapper
    h2.section-team__title Meet our amazing team
    p.section-team__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
    ul.section-team__list
      li.section-team__item
        p.team__name Semf Ucuk
        span.team__description Ceo & Founder
        img.team__img
      li.section-team__item
        p.team__name Dik Adalin
        span.team__description Engineering
        img.team__img
      li.section-team__item
        p.team__name Jeng Kol
        span.team__description Designer
        img.team__img
      li.section-team__item
        p.team__name Pet Romak
        span.team__description Marketing
        img.team__img
