section.section-video
  .section-video__wrapper.wrapper
    h3.visually-hidden Видео
    button.section-video__btn-text Watch our story
    button.section-video__btn
      picture.section-video__img
        img(src="/assets/images/play.png")