.section-works
  .section-works__wrapper.wrapper
    h2.section-works__title Our works
    a.section-works__link(href="#") See all project in dribble
    ul.section-works__list
      li.section-works__item
        a.item__link(href="#") 1
          img.item__img
      li.section-works__item
        a.item__link(href="#") 2
          img.item__img
      li.section-works__item
        a.item__link(href="#") 3
          img.item__img
      li.section-works__item
        a.item__link(href="#") 4
          img.item__img
      li.section-works__item
        a.item__link(href="#") 5
          img.item__img
      li.section-works__item
        a.item__link(href="#") 6
          img.item__img
      li.section-works__item
        a.item__link(href="#") 7
          img.item__img
      li.section-works__item
        a.item__link(href="#") 8
          img.item__img
      li.section-works__item
        a.item__link(href="#") 9
          img.item__img
      li.section-works__item
        a.item__link(href="#") 10
          img.item__img
      li.section-works__item
        a.item__link(href="#") 11
          img.item__img
      li.section-works__item
        a.item__link(href="#") 12
          img.item__img
    button.section-works__btn.btn Load more