section.section-works
  .section-works__wrapper.wrapper
    h2.section-works__title.title Our works
    a.section-works__link(href="#") See all project in dribble
    ul.section-works__list.works
      li.works__item
        a.works__link(href="#") 1
          picture.work__img
            img(src="/assets/images/1.png")
      li.works__item
        a.works__link(href="#") 2
          picture.work__img
            img(src="/assets/images/2.png")
      li.works__item
        a.works__link(href="#") 3
          picture.work__img
            img(src="/assets/images/3.png")
      li.works__item
        a.works__link(href="#") 4
          picture.work__img
            img(src="/assets/images/4.png")
      li.works__item
        a.works__link(href="#") 5
          picture.work__img
            img(src="/assets/images/1.png")
      li.works__item
        a.works__link(href="#") 6
          picture.work__img
            img(src="/assets/images/2.png")
      li.works__item
        a.works__link(href="#") 7
          picture.work__img
            img(src="/assets/images/3.png")
      li.works__item
        a.works__link(href="#") 8
          picture.work__img
            img(src="/assets/images/4.png")
      li.works__item
        a.works__link(href="#") 9
          picture.work__img
            img(src="/assets/images/1.png")
      li.works__item
        a.works__link(href="#") 10
          picture.work__img
            img(src="/assets/images/2.png")
      li.works__item
        a.works__link(href="#") 11
          picture.work__img
            img(src="/assets/images/3.png")
      li.works__item
        a.works__link(href="#") 12
          picture.work__img
            img(src="/assets/images/4.png")
    button.section-works__btn.btn Load more