section.section-works
  .section-works__wrapper.wrapper
    h2.section-works__title.title Our works
    a.section-works__link(href="#") See all project in dribble
    ul.section-works__list.works
      li.works__item
        a.works__link(href="#") 1
          img.work__img
      li.works__item
        a.works__link(href="#") 2
          img.works__img
      li.works__item
        a.works__link(href="#") 3
          img.works__img
      li.works__item
        a.works__link(href="#") 4
          img.works__img
      li.works__item
        a.works__link(href="#") 5
          img.works__img
      li.works__item
        a.works__link(href="#") 6
          img.works__img
      li.works__item
        a.works__link(href="#") 7
          img.works__img
      li.works__item
        a.works__link(href="#") 8
          img.works__img
      li.works__item
        a.works__link(href="#") 9
          img.works__img
      li.works__item
        a.works__link(href="#") 10
          img.works__img
      li.works__item
        a.works__link(href="#") 11
          img.works__img
      li.works__item
        a.works__link(href="#") 12
          img.works__img
    button.section-works__btn.btn Load more